{% extends 'layouts/base.html' %}
{% block title %}
Dashboard
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col text-center ">
        <a href="#">
            <button type="button" class="btn btn-outline-primary ">Marketing Solutions</button>
        </a>
    </div>
    <div class="col text-center ">
        <a href="#">
            <button type="button" class="btn btn-outline-success">Social Media Automation</button>
        </a>
    </div>
    <div class="col text-center ">
        <a href="#">
            <button type="button" class="btn btn-outline-danger">Business Operations Management</button>
        </a>
    </div>
    <div class="col text-center">
        <a href="#">
            <button type="button" class="btn btn-outline-info">Website Analytics</button>
        </a>
    </div>
  </div>
{% endblock content %}